/* styles/CreateLetter.css */
.main {
    min-height: 100vh; /* Tailwind's min-h-screen */
    display: flex; /* Tailwind's flex */
    align-items: center; /* Tailwind's items-center */
    justify-content: center; /* Tailwind's justify-center */
    background-image: url("./background.png"); /* 이미지 URL */
    background-size: cover; /* Tailwind's backgroundSize: cover */
    background-position: center; /* Tailwind's backgroundPosition: center */
    background-repeat: no-repeat; /* Tailwind's backgroundRepeat: no-repeat */
  }
  
  .heading {
    font-size: 2.25rem; /* Tailwind's text-4xl (36px) */
    font-weight: 700; /* Tailwind's font-bold */
    margin-bottom: 20px;
  }
  
  .input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-label {
    font-size: 16px;
    color: #555;
  }
  
  .text-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    max-width: 400px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #9859e1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .submit-button:hover {
    background-color: #ad90c4;
  }