.navbar {
    position: fixed;
    bottom: 0; /* 화면 하단에 고정 */
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left h1 {
    font-size: 18px;
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 40px;
  }

  /* 버튼 래퍼 */
.color-picker-wrapper {
  position: relative;
  width: 80px; /* 버튼 크기 */
  height: 80px;
}

/* 클릭 가능한 blue_areas.png */
.color-picker-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; /* 클릭 가능하게 */
  z-index: 2; /* 앞쪽에 표시 */
}

/* 겹쳐 있는 non_blue_areas.png */
.color-picker-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* 뒤쪽에 표시 */
}
