.navbar {
  position: fixed;
  bottom: 0; /* 화면 하단에 고정 */
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 좌측과 우측 요소를 양 끝으로 정렬 */
  padding: 0 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left h1 {
  font-size: 18px;
  cursor: pointer;
  margin: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto; /* Flexbox에서 오른쪽으로 밀기 */
}

.user-info {
  display: flex;
  align-items: center;
}

.logout-button {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 40px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.color-picker-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  transition: transform 1s ease-in-out;
}

.color-picker-wrapper.rotating {
  animation: rotate 2s linear infinite; /* 무한 회전 */
}

/* 클릭 가능한 blue_areas.png */
.color-picker-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; /* 클릭 가능하게 */
  z-index: 2; /* 앞쪽에 표시 */
}

/* 겹쳐 있는 non_blue_areas.png */
.color-picker-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* 뒤쪽에 표시 */
}
